*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* the navigation / header section of the the website  */
header{
    position: relative;
    top: 0;
    left: 0;
    right:0;
    background: #000;
    box-shadow: 5px 5px 6px rgba(255,255,255,0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

header.logo
{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

header.logo img
{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


header .navbar ul
{
    list-style: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -4px -5px 5px rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 8px;
}

header .navbar ul li
{
    position: relative;
    display:inline-block;
}

header .navbar ul li a
{
    font-size: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    
}

header .navbar ul li ul li a{
    color: #fff;
    transition: 0.2s;
}

header .navbar ul li ul li a:hover
{
    background: red;
    color: #fff;
    border-radius: 5px;
}

header .navbar ul li ul
{
    position: absolute;
    left: 0;
    background: #000;
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
}

header .navbar ul li ul li a
{
    left: 300px;
    top: 0;
    line-height: 70px;
}


header .navbar ul li:hover ul{
    visibility: visible;
    opacity: 1;
}


header button
{
    border: none;
    outline: none;
}

header button a
{
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 4px 3px 4px red;
    transition: 0.2s;

}

header button a:hover
{
    background-color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.1), -3px -3px 3px rgba(0,0,0,0.1);
    color: #000;
}


header .logo{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

header .logo img
{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}




/* the second container  */


.innersection
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-color: #0d0d0d;

}


.leftside
{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 25px;
    margin: 10px;
}

.leftside .heading h1{
  color: #fff;
  font-size: 3rem;
  margin: 10px;
}


.heading{
    width: 60%;
}


.leftside p{
    font-size: 1rem;
    color: #fff;
}


.buttoncontainer
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.firstbutton
{
    width: 7rem;
    padding: 5px;
    background: red;
    height: 2.5rem;
    margin: 10px;
    border-radius: 5px;
}

.firstbutton:hover{
    background: #fff;
    box-shadow: 4px 5px 6px rgba(255,255,255,0.2);
}


.firstbutton:focus{
    background: grey;
    border: none;
}

.secondbutton
{
    width: 7rem;
    padding: 5px;
    background: transparent;
    height: 2.5rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.secondbutton a{
    color: red;
    text-decoration: none;
}
.secondbutton:hover{
    background: #fff;
    box-shadow: 4px 5px 6px rgba(255,255,255,0.2);
}


.secondbutton:focus{
    background: grey;
    border: none;
}

.firstbutton a{
    color: #000;
    text-decoration: none;
}









/* the third container section  */
.thirdcontainer
{
    width: 100%;
    height: 50vh;
    background-image: url('single\ cutting\ board.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-2
{
   margin: 10px; 
   width: 60%;
   background: rgba(255,255,255,0.5);
   padding: 30px;
   backdrop-filter: blur(2rem);
   border-radius: 30px 0;
   z-index: 0;
}


.heading-2 h1{
    font-size: 2rem;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.headinging-2 p
{
    font-size: 1rem;
    color: red;

}


/* the section for the forth container on the webpage  */

.fourthcontainer
{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid gold;
}


.box-1
{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  
    
}




.box-1 .heading-3
{
    margin: 10px;
}


.box-1  h1{
    font-size: 2.4rem;
    color: #000;
    font-weight: 900;
    margin-bottom: 20px;
}

.heading-3 h2{
    color: red;
}




.box-1 p{
   font-size: 1.5rem;
}


.box-2
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px;
}

.box-2 img{
    width: 70%;
}


/* the section for the fifth container f the webpage  */

.fifthcontainer
{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid gold;
}


.box-3
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px 0;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.2), 4px 5px 6px rgba(0,0,0,0.2);
    padding: 20px;
}


.box-4
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}



.box-3 .heading-4
{
    margin: 10px;
}


.box-3 .heading-4 h1{
    font-size: 1.8rem;
    color: red;
    font-weight: 900;
}

.box-3 p{
   font-size: 1.5rem;
}


.box-4
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px;
}

.box-4 img{
    width: 70%;
}


/* the section for the sixthcontainer on the webpage  */
.sixthcontainer
{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid gold;
    margin-bottom: 20px;
    margin-top: 20px;
}


.box-5
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px 0;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.2), 4px 5px 6px rgba(0,0,0,0.2);
    padding: 20px;
}


.box-6
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}



.box-5 .heading-4
{
    margin: 10px;
}


.box-5 .heading-5 h1{
    font-size: 1.8rem;
    color: red;
    font-weight: 900;
}

.box-5 p{
   font-size: 1.5rem;
}


.box-6
{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px;
}

.box-6 img{
    width: 70%;
}


.seventhcontainer
{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: rgb(39, 35, 35);
}


.lastheading
{
    margin: 10px;
    width: 60%;
}

.lastheading h1{
    color: #fff;
    font-size: 3rem;
}


.seventhcontainer button{
    width: 7rem;
    height: 2.5rem;
    outline: none;
    border: none;
    background: red;
    border-radius: 5px;
    margin: 5px;
    transition: 0.3s;
}

.seventhcontainer button a{
    color: black;
    text-decoration: none;
}

.seventhcontainer button:hover
{
    background:#fff;
    box-shadow: 3px 4px 5px rgba(255,255,255,0.2);

}

.seventhcontainer button:focus{
    background-color: grey;
}



/* the contact section  */
.contact-section
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #000;
    padding: 30px;
}


.sec-1
{
    width: 350px;
    margin: 20px;
}


.secton-2
{
    width: 350px;
    margin: 20px;
}


.sec-1 h1
{
    color: red;
    font-size: 1.3rem;
    margin: 10px;
}

.sec-1 p
{
    color: #fff;
    margin: 10px;
}


.sec-2 p
{
    color: #fff;
    margin: 10px;
}

.sec-2 h1{
    color: red;
    font-size: 1.3rem;
    margin: 10px;
}

.sec-3{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec-3 p{
    color: #fff;
    
}







































































/* the section for the media quaries on the second page of the website  */


#menus
{
    display: none;
}


header label
{
    font-size: 20px;
    color: red;
    cursor: pointer;
    display: none;
}








/* the section for the media queries  */

@media (max-width: 1078px){


    body{
        overflow-x: hidden;
    }

    .navbar ul li a{
        font-size: 1.8rem;
    }


    .navbar{
        justify-content: space-around;
    }



    .innersection{
        height: 100%;
    }


    .leftside{
        margin: 35px;
        width: 90%;
    }


    .fourthcontainer

    {
        height: 100%;
    }

    .fifthcontainer
    {
        height: 100%;
        margin-bottom: 30px;
    }

    .sixthcontainer
    {
        height: 100%;
    }

    .seventhcontainer
    {
        height: 100%;
    }

    .leftside
    {
        width: 100%;
    }

    .heading
    {
        width: 100%;
        padding: 10px;
    }


    .heading p{
        padding: 5px;
    }

    








}


@media (max-width: 1000px)
{
    header .navbar ul li ul{
        visibility: visible;
        opacity: 1;
    }
  
    header label
    {
        display: initial;
    }

    header .navbar 
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        display: none;
    }

    header .navbar ul li
    {
        width: 100%;
    }

    header .navbar ul li ul
    {
        position: relative;
        width: 100%;

    }



    #menus:checked ~ .navbar 
    {
       display: block;
    }
 




}