*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* the navigation / header section of the the website  */


header p
{
    color: black;
    background-color: black;
}






header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .navbar ul
{
    list-style: none;
    background-color: #000;
    margin-top: 8px;
    border-radius: 5px;
    margin: 10px;
    width: 17rem;
    height: 4rem;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

header .navbar ul li
{
    position: relative;
    display:inline-block;
    text-align: center;
}

header .navbar ul li a
{
    font-size: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
}

header .navbar ul li ul li a{
    color: #fff;
    transition: 0.3s;
}

header .navbar ul li ul li a:hover
{
    background: red;
    color: #fff;
    border-radius: 5px;
}



header .navbar ul li .items
{
    position: absolute;
    left: 0;
    background: rgb(59, 59, 59);
    border-radius: 5px;
    padding: 25px;
    display: none;
    opacity: 0;
    height: 25rem;
    margin: 17px;
}

header .navbar ul li .items li a
{
    left: 300px;
    top: 0;
    line-height: 70px;
}


header .navbar ul li:hover .items{
    display: block;
    opacity: 1;
}






























/* the first container  */

.innersection
{

    width: 100%;
    height: 100%;
    background-image: url('lion-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    display: flex;
    align-items: center;
    flex-direction: column;

}



.main-division
{
    width: 60%;
    height: 10rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: black;
    position: relative;
    border-radius: 10px;
    z-index: 0;
    color: #fff;
    text-align: center;
    font-size: 100%;
}





 .logo{

    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.innersection h1{
    font-size: 5rem;
    color: #fff;
}




.innersection span
{
    color: #ff0000;
}


.innersection .contact
{
    outline: none;
    border: none; 
    margin: 20px;
    width: 15rem;
    height: 3.5rem;
}



.innersection .contact a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    user-select: none;
}

.innersection .contact {
    text-decoration: none;
    background-color: red;
    border-radius: 8px;
    box-shadow: 4px 3px 4px red;
    transition: 0.2s;
    font-size: 1.2rem;
    user-select: none;
}

.innersection .contact:hover{
    background: #fff;
    color: #000;
    box-shadow: none;
}





.innersection .contact:focus
{
    background:grey;
    box-shadow: 5px 4px 5px rgba(0,0,0,0.1), -5px -4px 5px rgba(0,0,0,0.1);
}









/* the second section of the main page  */
.secondcontainer
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.rightcontainer{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin: 10px;
}




.carousel-wrapper {
    position: relative;
    width: 200%;
    height: 650px;
    display: block;
    margin: 10px;

  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }
  .arrow{
    border: solid rgba(15, 15, 15, 0.541);
    border-width: 0 3px 3px 0 ;
    display: inline-block;
    padding: 12px;
    
  }
  .arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  
  }
  .arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  
  [id^= "item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('web1.jpg');
    background-size: cover;
    background-position: center;
  }
  .item-2 {
    background: url('web2.jpg');
    background-size: cover;
    background-position: center;
  }
  .item-3 {
    background: url('web3.jpg');
    background-size: cover;
    background-position: center;
  }

  .item-4 {
    background: url('web4.jpg');
    background-size: cover;
    background-position: center;
  }

  .item-5 {
    background: url('web5.jpg');
    background-size: cover;
    background-position: center;
  }


  .item-6 {
    background: url('web6.jpg');
    background-size: cover;
    background-position: center;
  }

  .item-7{
    background: url('web7.jpg');
    background-size: cover;
    background-position: center;
  }

  .item-8 {
    background: url('web8.jpg');
    background-size: cover;
    background-position: center;
  }

  .item-9 {
    background: url('web9.jpg');
    background-size: cover;
    background-position: center;
  }
  
  *:target ~ .item-1{
    opacity: 0;
  }
  #item-1:target ~ .item-1 {
    opacity: 1;
  
  }
  #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7, #item-8:target ~ .item-8 , #item-9:target ~ .item-9{
    z-index: 10;
    opacity: 1;
  } 




.leftcontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    padding: 20px;
    width: 600px;
}

.inner-1{
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


.inner-1 h1
{
    font-size: 3rem;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}


.inner-1 h3{
    color: grey;
    text-align: center;
}


.inner-1 h4{
    font-size: 2rem;
    color: #000;
    margin: 3px;
    text-align: center;
}

.inner-1 p{
    color: #000;
    border: 2px solid  gold;
    padding: 10px;
    margin: 3px;
    font-size: 1.5rem;
    text-align: center;
}


.inner-1 button
{
    width: 10rem;
    padding: 1.3rem;
    margin: 10px;
    color: #fff;
    outline: none;
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
    transition: 0.2s;
    border-radius: 30px 0;
    color: grey;


}





















.fourthcontainer
{

    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
    grid-gap: 10px;
    background: linear-gradient( 90deg, rgb(31, 30, 30) 50%, black 50%);

}


.division-4
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.inside-division4
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.inside-division4 h1{
    font-size: 4rem;
    color: red;
}

.inside-division4 p{
    color: #fff;
}





.division-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

}

.section{
    background: rgb(44, 44, 44);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
}


.section h2
{
    font-size:2rem;
    color: red;
}

.section p{
    color:#fff;
}


/* the sixth container section  */


.sixthcontainer
{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('lion-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;padding: 20px;
}


.description-1
{
    width: 500px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000;
}


.description-1 h1,p{
    color: #fff;
}


.direction-1
{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.direction-1 button
{
    background: red;
    outline: none;
    border: 1px solid red;
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    color: #fff;

}


/* the section for the seventh container  */

.seventhcontainer
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient( black 50%,rgb(22, 22, 22) 50%);
}

.box1
{
    width: 500px;
    height: 750px;
    background: rgb(41, 40, 40);
    padding:10px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
}

.box2
{
    width: 500px;
    height: 750px;;
    background: rgb(41, 40, 40);
    padding:10px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
}

.box3
{
    width: 750px;
    height:500px;
    margin: 15px;
    padding:20px;
    background: rgb(41, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
}

.box4
{
    width: 750px;
    height: 500px;
    margin: 15px;
    padding:20px;
    background: rgb(41, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    color: #fff;
}



.box1 img{
    width: 90%;
    height: 90%;
    margin: 5px;
    border-radius: 5px;
}

.box2 img{
    width: 80%;
    height: 80%;
    margin: 5px;
    border-radius: 5px;
}

.box3 img{
    width: 80%;
    height: 80%;
    margin: 5px;
    border-radius: 5px;
}

.box4 img{
    width: 80%;
    height: 80%;
    margin: 5px;
    border-radius: 5px;
}

.contents
{
    width: 100%;
    margin: 5px;
}


.contents h1{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.contents button{
    border-radius: 30px 0;
    width: 10rem;
    height: 3rem;
    background: transparent;
    color: #fff;
    margin: 10px;
    border: 1px solid #fff;
}


.box3 h1{
    color: #fff;
    font-size: 1rem;
}

.box4 h1{
    color: #fff;
    font-size: 1rem;
}

.box3 p{
    color: #fff;
}

.box4 p{
    color: #fff;

}


/* the closing sectionof the webpage  */

.closing-area
{
    width: 100%;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}



.inside-closingarea
{
    background:rgb(44, 44, 44);
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


.content-section
{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.content-section h1 , p{
    color: #fff;
    margin: 5px;
}


.buttonsection
{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttonsection button
{
    width: 6rem;
    padding: 10px;
    background: red;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 20px;
    transition: 0.5s;
}


.buttonsection button a{
    text-decoration: none;
    color: #000;
}



.buttonsection button:hover{
    background: white;
    box-sizing: 5px 3px 4px rgba(255,255,255,0.5);
    border: none;
}


.buttonsection button:focus{
    background-color: grey;
}



.enclosure
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.person
{
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 5px 6px 5px rgba(0,0,0,0.1), -4px -5px 5px rgba(0,0,0,0.1);
}


.person img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
}


.about{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.about h1{
    font-size: 2rem;
    margin: 20px;
}


.about h5{
    font-size: 1.2rem;
}

.about span{
    font-size: 4rem;
    color: grey;
}



/* the contact section  */
.contact-section
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(37, 37, 37);
    padding: 30px;
}


.sec-1
{
    width: 350px;
    margin: 20px;
}


.secton-2
{
    width: 350px;
    margin: 20px;
}


.sec-1 h1
{
    color: red;
    font-size: 1.3rem;
    margin: 10px;
}

.sec-1 p
{
    color: #fff;
    margin: 10px;
}


.sec-2 p
{
    color: #fff;
    margin: 10px;
}

.sec-2 h1{
    color: red;
    font-size: 1.3rem;
    margin: 10px;
}

.sec-3{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec-3 p{
    color: #fff;
    
}




























/* the section for the media queries  */

@media (max-width: 1178px){


    body{
        overflow-x: hidden;
    }

    
    .leftcontainer h1
    {
        font-size: 2rem;
    }



    .main-division h1
    {
        font-size: 5rem;
        margin: 30px;
    }


    .main-division .button{
        margin: 10px;
    }

    .secondcontainer{
        height: 100%;
    }

    .thirdcontainer
    {
        height: 100%;
    }

    .fourthcontainer
    {
        height: 100%;
    }


    .rightcontainer img
    {
        width: 50%;
    }

    .box{
        width: 600px;
        height: 550px;
    }

    .main-division h1{
        font-size: 290%;
    }

    .main-division button a
    {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1px;

    }

    .sixthcontainer
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description-1
    {
        margin: 40px;
    }

    .about{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .enclosure{
        height: 100%;
    }


    .person{
        margin: 20px;
    }


}



@media (max-width: 720px){


     .logo{
        width: 10rem;
        height: 10rem;
    }

    .main-division{
        width: 90%;
    }

    .innersection .contact{
        width: 15rem;
        height: 3rem;
        text-align: center;
        position: relative;
        margin: 10px;
    }

    .dropbtn{
        width: 15rem;
        height: 3rem;
        margin:10px;
        margin-top: 17px;
        text-align: center;
    }

    header{
        justify-content: space-evenly;
    }


    .description-1{
        height: 250px;
        width: 90% ;
    }

    .content-section{
        padding: 15px;
    }



   


}